*   {
    font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ecd9bad7;
}

nav {
  background-color: #9a5b24;
  padding: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
  border-bottom: 1px solid transparent;
}

a {
  text-decoration: none;
  color: #fffaf2;
}

a:hover {
  color: #f3d19c;
}

li:hover {
  border-bottom: #f3d19c solid 1px;
}

.banner {
  background-image: url(images/banner.png);
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #fffaf2;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.banner p {
  font-size: 24px;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.top3 {
  background-color: #f5f5f5;
  padding: 40px;
  text-align: center;
  max-width : 50% ;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 25px auto;
}

.card_holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px 25px;
  gap: 20px;
}

.card {
  width: 28%;
  padding: 20px;
  border: none;
  border-radius: 12px;
  background-color: #f5f2f2;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card p {
  font-size: 14px;
  margin-bottom: 20px;
}

.card_buttons {
  margin-top: auto;
  display: flex;
  gap: 10px;
}

.view_details {
  background-color: #c4772d;
  color: #fff;
  padding: 8px 15px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 6px;
}

.book_now {
  background-color: #429b11;
  color: #fff;
  padding: 8px 15px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 6px;
}


.booking_form {
  width: 60%;
  margin: 30px auto;
  padding: 25px;
  background-color: #f5f2f2;
  border-radius: 10px;
}

.booking_form input:focus {
  outline: none;
  border: 2px solid #9a5b24;
}

.booking_form h2 {
  text-align: center;
  color: black;
  margin-bottom: 35px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.booking_form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.booking_form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.booking_form button {
  border: none;
  cursor: pointer;
  padding: 15px 40px;
  display: block;
  margin: 0 auto;
}

.booking_form button:hover {
    background-color: #486837 ;
}

.tour_packages {
  width: 80%;
  margin: 30px auto;
  text-align: center;
}

.tour_table {
  width: 100%;
  border-collapse: collapse;
}

.tour_table th,
.tour_table td {
  padding: 12px;
  border: 1px solid #ccc;
}

.tour_table th {
  background-color: #9a5b24;
  color: white;
}

.tour_table td {
  background-color: #f5f2f2;
}